# Environmental variable
.env
backend.env
frontend.env
backend.env.local
frontend.env.local

# Cache
__pycache__/

# Virtual Environments
CTenv
venv
.venv

# Database
app.db
sqlite3.db
.db
migrations
instance

# Logs
logs/
*.log

# Testing
.pytest_cache

# Node.js / Frontend
node_modules/
.next/
club/
