services:

  # Database Service
  postgres:
    image: postgres:16
    container_name: clubiq_db
    restart: unless-stopped
    env_file:
      - Backend/.env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    network:
      - backend

  # Database Web GUI
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
      PGADMIN_CONFIG_SERVER_MODE: "True"
      PGADMIN_CONFIG_ENHANCED_COOKIE_PROTECTION: "True"
      PGADMIN_CONFIG_LOGIN_BANNER: "'Authorized users only.'"
      PGADMIN_CONFIG_CONSOLE_LOG_LEVEL: 30
    ports: # Comment out both port lines when not in use
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - postgres
    network:
      - backend

  # Backend Service
  backend:
    build:
      context: .
      dockerfile: Backend/Dockerfile
    container_name: clubiq_backend
    restart: always
    env_file:
      - Backend/.env
    depends_on:
      - postgres
    ports:
      - "5000:5000"
    volumes:
      - ./Backend:/app
    command: flask run --host=0.0.0.0 --port=5000
    network:
      - backend

  # Frontend Service
  frontend:
    build:
      context: .
      dockerfile: Frontend/Dockerfile
    container_name: clubiq_frontend
    restart: always
    env_file:
      - Frontend/.env
    ports:
      - "3000:3000"
    volumes:
      - ./Frontend:/app
      - /app/node_modules
    depends_on:
      - backend

# Persistent Storage
volumes:
  postgres_data:
  pgadmin_data:

# Internal network
networks:
  backend:
    internal: true
